---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='November 20th' %}

  <div class="schedule" data-dates="11-20">
    <table class="schedule__table">
      <thead>
      {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.15-9.30' title='GrUSP introduction' fill='true' %}

        {% include schedule/talk.html title='Stop mocking everything' time='09.30-10.30' fill='true' %}

        {% include schedule/pause.html time='10.30-10.45' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html title="The absolute beginner's guide to Domain Driven Design with Symfony" time='10.45-11.45' fill='true' %}
        {% include schedule/talk.html title='Symfony and Hexagonal Architecture' time='11.45-12.30' fill='true' %}

        {% include schedule/pause.html time='12.30-14.00' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html title='CODE, TEST, DEPLOY, REPEAT' time='14.00-14.45' fill='true' %}
        {% include schedule/talk.html title='Deploying your first Symfony application to Kubernetes' time='14.45-15.45' fill='true' %}

        {% include schedule/pause.html time='15.45-16.00' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html title='CI/CD Agility and Controlling Pipeline Sprawl' time='16.00-16.45' fill='true' %}
        {% include schedule/talk.html title='My Symfony functional testing toolbox' time='16.45-17.30' fill='true' %}

        {% include schedule/pause.html time='17.30-17.45' title='Bye bye from GrUSP' fill='true' %}
      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="11-20">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.15-9.30' title='GrUSP introduction' fill='true' %}

        {% include schedule/talk.html title='Stop mocking everything' time='09.30-10.30' fill='true' %}

        {% include schedule/pause.html time='10.30-10.45' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html title="The absolute beginner's guide to Domain Driven Design with Symfony" time='10.45-11.45' fill='true' %}
        {% include schedule/talk.html title='Symfony and Hexagonal Architecture' time='11.45-12.30' fill='true' %}

        {% include schedule/pause.html time='12.30-14.00' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html title='CODE, TEST, DEPLOY, REPEAT' time='14.00-14.45' fill='true' %}
        {% include schedule/talk.html title='Deploying your first Symfony application to Kubernetes' time='14.45-15.45' fill='true' %}

        {% include schedule/pause.html time='15.45-16.00' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html title='CI/CD Agility and Controlling Pipeline Sprawl' time='16.00-16.45' fill='true' %}
        {% include schedule/talk.html title='My Symfony functional testing toolbox' time='16.45-17.30' fill='true' %}

        {% include schedule/pause.html time='17.30-17.45' title='Bye bye from GrUSP' fill='true' %}
      </tbody>
    </table>
  </div>
</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
