<section class="limit">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        What is it?
      </h4>
      <p class="conf-infos__text">
        sfday Italy (formerly known as SymfonyDay) is the main conference in Italy dedicated solely to Symfony and its ecosystem.
        Hundreds of developers from the whole country already participated to the previous editions.
        <strong>Since 2019, 8th edition, the conference became international and is held entirely in English.</strong>
      </p>
      <p class="conf-infos__text">
        Symfony is a set of PHP Components, a Web Application framework, a Philosophy, and a Community — all working together in harmony.
      </p>

      <div class="vimeo">
      </div>
    </div>

    <div class="conf-infos__column conf-infos__column--right">
      <!--<div class="mega-info mega-info&#45;&#45;responsive">-->
        <!--<div class="mega-info__number">7</div>-->
        <!--<div class="mega-info__text">Sessioni</div>-->
      <!--</div>-->
      <!--<div class="mega-info mega-info&#45;&#45;responsive">-->
        <!--<div class="mega-info__number">2</div>-->
        <!--<div class="mega-info__text">Workshop</div>-->
      <!--</div>-->
    </div>
  </div>
</section>
